<figure class="video-card">
    <img src="/thumbs/{{video['vid']}}.jpg" width="400px" />
    <figcaption>
        {{video['vid']}} -
        {% if video['presenter'] %}
        {{ video['presenter'] }} -
        {% endif %}
        <a href="/watch/{{video['vid']}}">{{video['name']}}</a>
        {% if video['duration'] %}
        - ({{video['duration']  | format_duration}})
        {% endif %}
    </figcaption>
</figure>