<li {% if video['watched'] %} class="watched" {% endif %}>
    {% if video['presenter'] %}
    {{ video['presenter'] }} -
    {% endif %}
    <a href="/watch/{{ video['vid'] }}">{{ video['name'] }}</a>
    {% if video['duration'] %}
    - ({{video['duration'] | format_duration}})
    {% endif %}

    {# This does not display anything if the fields are empty #}
    {# TODO: Write a filter or something to do this, I should not display anything if something is interesting but useless #}
    {% if video['usefulness'] == "useful" or video['interestingness'] == "interesting" %}
    <span class="uparrow">▲</span>
    {% elif video['usefulness'] == "useless" or video['interestingness'] == "boring" %}
    <span class="downarrow">▼</span>
    {% endif %}
</li>
