body {
    background-color: #f5f5f5;
    font-size: larger;
}

hr {
    border-style: solid;
    border-color: #111111;
}

#main-content {
    width: 72em;
    margin: 0 auto;
}

a:visited {
    color: blue;
}

a:hover {
    color: #7777ff;
}

h2 {
    margin-bottom: 2em;
}

p.subtitle {
    margin-top: -0.8em;
    color: #334433;
    font-style: italic;
}

li {
    padding-top: 0.5em;
}

li.watched {
    opacity: 0.3;
}

ul li {
    list-style: none;
}

.markdown ul li {
    list-style: disc;
}

form {
    display: inline-block;
}

header p {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

header a, header a:visited {
    color: black;
    text-decoration: none;
}

.logo-p2 {
    display: inline-block;
    color: white;
    padding: 0.1em;
    border-radius: 0.2em;
    background-color: red;
}

.video-container {
    align-self: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.uparrow {
    color: green;
}

.downarrow {
    color: red;
}

.watched .uparrow {
    color: rgba(0, 255, 0, 0.3);
}

.watched .downarrow {
    color: rgba(255, 0, 0, 0.3);
}

.video-controls canvas {
    height: 1em;
    margin-bottom: -6px; /* I don't think this looks right in every browser/screen size
    but whatever */
}

.seekbar {
    width: 885px;
}

.volume-slider {
    width: 190px;
}

.flash-messages {
    border: 2px solid #222222;
    color: #222222;
    background-color: #ddddaa;
    box-shadow: 3px 3px 3px 0px rgba(15, 15, 15, 0.6);
}

.flash-messages .close-button {
    float: right;
    margin-right: 1em;
}

.video-card {
    max-width: 450px;
    background-color: #f0f0ff;
    border: 2px solid #222222;
    box-shadow: 3px 3px 3px 0px rgba(0.05, 0.05, 0.05, 0.6);
    text-align: center;
}

.video-card img {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.video-card figcaption {
    margin: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

details summary {
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

details > ol, details > ul, details > p {
    margin-left: 2em;
}
.video-container:fullscreen {
    width: 100vw;
    height: 100vh;
}

.video-container:fullscreen > * {
    width: 100vw;
    height: 100vh;
}
