{% extends "layout.html" %}

{% block content %}
<p>
    <form method="post" action="/search">
        <input type="text" name="query" placeholder="Search Query..." size=50 />
        <input type="submit" value="Search" />
    </form>
</p>

<h2>Showing all videos</h2>

<ul>
    {% for video in videos %}
    {% include "_partials/video_compact.html" %}
    {% endfor %}
</ul>
{% endblock %}