{% extends "layout.html" %}

{% block content %}

<form method="post" action="/queue-dl">
    <input type="text" name="url" size=80 />
    <input type="submit" value="Add to download queue" />
</form>

{% if dl_queue|length > 0 %}
<h2>Queued Downloads</h2>
<ul>
    {% for dl in dl_queue %}
    <li>{{dl['url']}}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}