{% extends "layout.html" %}

{% block content %}
<h2>Editing {{ info['name'] }}</h2>
<hr />

<form method="post" action="/rate/{{info['vid']}}">
    <p>
        <input type="radio" name="usefulness" value="useful"
            {% if info['usefulness'] == "useful" %}checked{% endif %} />
        <label for="useful">Useful</label>
        <input type="radio" name="usefulness" value="neutral"
            {% if info['usefulness'] == "neutral" %}checked{% endif %} />
        <label for="neutral">Neutral</label>
        <input type="radio" name="usefulness" value="useless"
            {% if info['usefulness'] == "useless" %}checked{% endif %} />
        <label for="useless">Useless</label>
    </p>
    <p>
        <input type="radio" name="interestingness" value="interesting"
            {% if info['interestingness'] == "interesting" %}checked{% endif %} />
        <label for="interesting">Interesting</label>
        <input type="radio" name="interestingness" value="meh"
            {% if info['interestingness'] == "meh" %}checked{% endif %} />
        <label for="meh">Meh</label>
        <input type="radio" name="interestingness" value="boring"
            {% if info['interestingness'] == "boring" %}checked{% endif %} />
        <label for="uninteresting">Boring</label>
    </p>

    <input type="submit" value="Rate!" />
</form>

<hr />
<form method="post" action="/update/{{info['vid']}}">
    <p>
        Title:
        <input type="text" name="title" value="{{info['name']}}" size=80 />
    </p>
    <p>
        Speaker / Author:
        <input type="text" name="presenter" value="{{info['presenter']}}" size=80 />
    </p>
    <p>
        Event (If exists):
        <input type="text" name="event" value="{{info['event']}}" size=80 />
    </p>
    <p>
        Tags:
        <input type="text" name="tags" value="{{info['tags']}}" size=80 />
    </p>
    <p>
        Notes:
    </p>
    <textarea name="notes" rows="15" cols="120">{{info['notes']}}</textarea>
    <p>
        <input type="submit" value="Save to DB" />
    </p>
</form>

<hr />

<p>
    <a href="javascript:history.back()">Go Back</a>
</p>
{% endblock %}