{% extends "layout.html" %}

{% block content %}

<p>
    <form method="post" action="/search">
        <input type="text" name="query" placeholder="Search Query..." size=150 />
        <input type="submit" value="Search" />
    </form>
</p>

{% if continue_watching|length > 0 %}
<hr />

<h1>Continue Watching</h1>
<div class="cards">
    {% for video in continue_watching %}
    {% include "_partials/video_card.html" %}
    {% endfor %}
</div>
{% endif %}

<hr />

<h1>Randomly chosen videos</h1>
<div class="cards">
    {% for video in random_videos %}
    {% include "_partials/video_card.html" %}
    {% endfor %}
</div>

<hr />

<p>
    <a href="/videos">See all videos</a>
</p>
<p>
    <a href="/downloads">View downloads</a>
</p>
<p>
    <a href="/stats">Show me some stats about myself</a>
</p>

{% endblock %}.