<!doctype html>
<html>

<head>
    <title>JankTube</title>
    <link href="/static/site.css" rel="stylesheet" />
</head>

<body>
    <header>
        <p>
            <a href="/" target="_blank">
                <span class="logo-p1">Jank</span>
                <span class="logo-p2">Tube</span>
            </a>
        </p>
    </header>
    <article id="main-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <div class="flash-messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>

        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </article>

    <script src="/static/socket.io.js" type="text/javascript"></script>
    <script src="/static/lodash.min.js" type="text/javascript"></script>
    <script src="/static/site.js" type="text/javascript"></script>
</body>

</html>