{% extends "layout.html" %}

{% block content %}
<p>
    <form method="post" action="/search">
        <input type="text" name="query" placeholder="Search Query..." size=50 />
        <input type="submit" value="Search" />
    </form>
</p>

<h2>Showing Results for '{{query}}'</h2>
<div class="cards">
    {% for video in results %}
    {% include "_partials/video_card.html" %}
    {% else %}
    <p>No results found</p>
    {% endfor %}
</div>

<p>
    <a href="javascript:history.back()">Go Back</a>
    <a href="/">Go Home</a>
</p>
{% endblock %}