{% extends "layout.html" %}

{% block content %}
<p id="current-player-id"></p>

<ul>
    {% for player_id in alive_players %}
    <li>{{ player_id}}</li>
    {% endfor %}
</ul>
<script src="/static/socket.io.js" type="text/javascript"></script>

<script>
    function doHeartbeat(socket, uuid) {
        const payload = { id: uuid, curr_time: 0 };
        console.log("send heartbeat");
        socket.emit("heartbeat", payload);
    }

    // from https://stackoverflow.com/a/2117523/1936271
    function uuidv4() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    window.connected = false;

    const socket = io('/');
    const id = uuidv4();
    const listenSocket = io(`/player/${id}`);
    document.getElementById("current-player-id").innerText = `Current id: ${id}`;

    socket.on('connect', () => {
        console.log("connected");
        socket.emit('start', { 'id': id, 'vid': 'fu6N6JbPOrI', 'duration': 0, 'curr_time': 0 });
        window.heartbeatInterval = window.setInterval(() => doHeartbeat(socket, id), 1000);
        window.connected = true;
    });

    socket.on('disconnect', () => {
        console.log("disconnected");
        window.disconnected = false;
        window.clearInterval(window.heartbeatInterval);
    });

    listenSocket.on('playpause', () => {
        console.log("Received playpause");
    });

    listenSocket.on("fullscreen", () => {
        console.log("Received fullscreen");
    });

    const button = document.getElementById('message-button');
    button.addEventListener('click', () => {
        if (window.connected) {
            console.log("sending");
            const msg = document.getElementById('message').value;
            socket.send(msg);
        }
    });
</script>
{% endblock %}