{% extends "layout.html" %}

{% block content %}

<details>
    <summary>
        Latest videos watched
    </summary>

    <ol>
        {% for video in recently_watched %}
        {% include "_partials/video_compact.html" %}
        {% endfor %}
    </ol>
</details>

<details>
    <summary>
        Latest videos added
    </summary>

    <ol>
        {% for video in recently_added %}
        {% include "_partials/video_compact.html" %}
        {% endfor %}
    </ol>
</details>

<details>
    <summary>
        Videos lacking details
    </summary>

    <ol>
        {% for video in lacking_details %}
        {% include "_partials/video_compact.html" %}
        {% endfor %}
    </ol>
</details>

<details>
    <summary>
        Daily watched time
    </summary>
    <p>
        <img src="/stats/watchgraph.png" />
    </p>
    <ul>
        {% for day in days_watched %}
        <li>{{ day['date_str'] }} - {{ day['duration'] | format_duration }} </li>
        {% endfor %}
    </ul>
</details>

<details>
    <summary>
        Random One-Off Stats
    </summary>
    <ul>
        <li>Total Number of Videos: {{ total_count }}</li>
        <li>Number of Watched Videos: {{ watched_count }}</li>
        <li>Total Duration of All Videos (In Minutes): {{ total_mins }}</li>
        <li>Total Duration of Watched Videos: {{ watched_mins }}</li>
    </ul>
</details>

<p>
    <a href="javascript:history.back()">Go Back</a>
</p>
<p>
    <a href="/">Go Home</a>
</p>
{% endblock %}