{% extends "layout.html" %}

{% block content %}
<h1>Watching {{info['name']}}</h1>
<p class="subtitle">By {{info['presenter']}}, at {{info['event']}}</p>

<hr />

<div class="video-container">
    <video width="1280" height="720">
        <source src="/video/{{info['vid']}}" />
        {% if info['has_subtitles'] %}
        <track label="English" kind="subtitles" srclang="en" src="/subtitle/{{info['vid']}}" />
        {% endif %}
    </video>
    <canvas class="video-overlay"></canvas>
</div>

<p class="video-controls">
    <button class="faster">Go Faster</button>
    <button class="slower">Go Slower</button>
    <span class="current-speed"></span>
</p>

<hr />

<h3>Video Info:</h3>

<p>Video ID: {{info['vid']}}</p>
<p>Title: {{info['name']}}</p>
{% if info['tags'] %}
<p>Tags: {{info['tags']}}</p>
{% endif %}
{% if info['notes'] %}
<p>Notes: </p>
<p class="markdown">{{info['notes'] | render_markdown }}</p>
{% endif %}

<hr />

<div class="watch-next">
    {% if similar|length > 0 %}
    <h3>Similar videos:</h3>

    <ul>
        {% for video in similar %}
        {% include "_partials/video_compact.html" %}
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Random Videos:</h3>
    <ul>
        {% for video in random %}
        {% include "_partials/video_compact.html" %}
        {% endfor %}
    </ul>
</div>

<hr />

<p>
    <a href="/edit/{{info['vid']}}" target="_blank">Edit Video Info</a>
</p>

<p>
    <a href="javascript:history.back()">Go Back</a>
</p>

<script>
    window.completed = {{ info['is_watched'] | lower }};
    window.vid = "{{info['vid']}}";
    window.videoTitle = "{{info['name']}}";
    window.lastWatchedTime = {{ info['partial_watch_time'] }};
</script>

{% endblock %}